node_modules
package-lock.json
tags
*.pyc
*.sql.gz
*~
.md5sums

backups/
python-ve/
python3-ve/
covers

config/*.json

labels/*.pdf

client/dist
client/dist-public
client/.public.git-rev
client/.volunteers.git-rev

provision/grains
