<mat-card appearance="outlined">
  <div class="search-form">
    <div fxFlex="">
      <gsl-multi-field-search-bar
        [criteria]="criteria" [fields]="filterFields" (search)="navigate()">
      </gsl-multi-field-search-bar>
    </div>
  </div>
  <div [class.no-search]="count < 0">
    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource"
                 matSort matSortActive="scheduled_at" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Job Id</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a [routerLink]="['/admin/labels-print-queue', row.id]">{{row.id}}</a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="scheduled_at">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Scheduled At</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a [routerLink]="['/admin/labels-print-queue', row.id]">{{row.scheduled_at}}</a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a [routerLink]="['/admin/labels-print-queue', row.id]">{{row.status}}</a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="labelsize">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Label Size</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a [routerLink]="['/admin/labels-print-queue', row.id]">{{row.labelsize}}</a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Label Name</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a [routerLink]="['/admin/labels-print-queue', row.id]">{{row.name}}</a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="barcode">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Item Barcode</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a [routerLink]="['/items', row.barcode]">{{row.barcode}}</a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 style="cursor: pointer"></mat-row>
      </mat-table>
      <mat-paginator [length]="count" [pageSize]="10">
      </mat-paginator>
    </div>
    <div class="actions">
      <form>
        <button color="primary" class="action"
           mat-raised-button
           gslConfirmationDialog
           title="Clearing Label Print Queue"
           message="Are you sure you want to clear the entire the queue?"
           (confirm)="clear()"
           *gslAuthorized="'labels_print_queue.delete'">
          Clear Queue
        </button>
        <button color="primary" class="action"
           mat-raised-button
           gslConfirmationDialog
           title="Removing Completed Jobs"
           message="Are you sure you want to remove all completed print jobs?"
           (confirm)="clear('completed')"
           *gslAuthorized="'labels_print_queue.delete'">
          Remove Completed
        </button>
        <button color="primary" class="action"
           mat-raised-button
           gslConfirmationDialog
           title="Retry Failed Jobs"
           message="Are you sure you want to retry all failed print jobs?"
           (confirm)="retry()"
           *gslAuthorized="'labels_print_queue.update'">
          Retry Failed
        </button>
      </form>
    </div>
  </div>
</mat-card>
