<div class="containerX">
  <div fxFlex="">
    <form (ngSubmit)="printLabel(item, category, data)">

      <mat-form-field [style.width]="'100%'">
        <mat-select name="category" placeholder="Label Categories"
                    [(ngModel)]="category"
                    (selectionChange)="onCategoryChange(item, category)">
          <mat-option *ngFor="let cat of categories" [value]="cat">
            {{ cat }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <fieldset [hidden]="categoryFields.length < 1">
        <legend>Options</legend>
        <div>
          <formly-form [model]="data" [fields]="categoryFields">
          </formly-form>
        </div>
      </fieldset>
      <button type="print" mat-raised-button color="primary">Print</button>
    </form>
  </div>
  <div fxFlex="">
    <div id="item-label-preview" class="item-label-preview" *ngIf="category">
      <h2>Preview</h2>
      <ngx-extended-pdf-viewer
        [base64Src]="previewPdf"
        [height]="'25vh'"
        [useBrowserLocale]="true"
        [customToolbar]="pdfMenu"
        >
      </ngx-extended-pdf-viewer>
    </div>
  </div>
</div>

<ng-template #pdfMenu>
  <div id="toolbarViewer">
    <div id="toolbarViewerLeft">
    </div>
    <div id="toolbarViewerRight">
      <pdf-download></pdf-download>
    </div>
    <pdf-zoom-toolbar ></pdf-zoom-toolbar>
  </div>
</ng-template>
