{% set label_dir = salt['grains.get']('app_dir') + '/label-printer' -%}
{% set label_config_dir = label_dir + '/config' -%}
[Desktop Entry]
Type=Application
Name=Label Printer
Comment=GSSB Label Printer
Terminal=false
Exec=xterm -T "Label Printer" -n "Label Printer" -hold -e "NODE_CONFIG_DIR={{ label_config_dir }} NODE_ENV=prod node {{ label_dir }}/build/index.js"
Icon=/usr/share/pixmaps/gssb.png
